extends ../_template

block variables
	- var title = 'About me'

block content
	header.header
		div.header-main-bg
		div.header-text-bg
			+svgMix("header-text-bg__about","portfolio_header")

		ul.social.social--header
			-
				var icons = [
					{title: 'vk', href: '#'},
					{title: 'github', href: '#'},
					{title: 'in', href: '#'},
				]

			each icon in icons
				li.social__item.social__item--header
					a.social__link.social__link--header(href=icon.href)
						+svgMix("social__icon social__icon--header", icon.title)

		div.header__menu
			+svgMix("header__menu-icon", 'hamburger')

		div.about-me-block
			img.about-me-block__photo(src="assets/img/5093.jpg", alt="my photo")
			h2.about-me-block__title Макс Колендюк
			p.about-me-block__caption Личный сайт веб разработчика

		div.header__down.header__down--about
			+svgMix("header__down-icon","portf_arrow_down")
		
	section.about-me-more
		+svgMix("about-me-more-triangles","bg_blog")
		div.about-me-left-section
			svg(viewbox="0 0 900 160" preserveAspectRetion="none").about-me-left-triangle
				polygon(points="0,0 0,160, 900,160")

			div.about-me-left-section__title
				+svgMix("about-me-left-section__icon","about_header")
				h1.page__title-h1.page__title-h1--black обо мне

			div.about-me-article
				img.about-me-article__photo(src="assets/img/about-photo.png", alt="my photo")
				h2.page__title-h2.page__title-h2--black кто я
				p.about-me-article__caption.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				p.about-me-article__caption.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				
		div.about-me-skills
			svg(viewbox="0 0 900 160" preserveAspectRetion="none").about-me-right-triangle
				polygon(points="0,160 900,160, 900,0")

			h2.page__title-h2.page__title-h2--black чем я могу быть вам полезен

			p.about-me-skills__caption Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			
			div.skills-group
				-
					var skillItems = [
						{	section: 'Frontend', 
							sectionItems: [
								{title: 'HTML5', value: 75},
								{title: 'CSS3', value: 75},
								{title: 'JavaScript & jQuery', value: 75}
						]},
						{	section: 'Backend',
							sectionItems: [
								{title: 'PHP', value: 75},
								{title: 'mySQL', value: 75},
								{title: 'Node.js & npm', value: 75},
								{title: 'Mongo.db', value: 75}
						]},
						{	section: 'WorkFlow',
							sectionItems: [
								{title: 'Git', value: 75},
								{title: 'Gulp', value: 75},
								{title: 'Bower', value: 75}
						]}
					]
				each item in skillItems
					ul.my-skills
						p.my-skills__title= item.section
						ul.my-skills__list
							each item2 in item.sectionItems
								li.my-skills__circle
									svg.my-skills__circle-svg
										circle(cx="60" cy="60" r="50").my-skills__circle-svg-under
										circle(cx="60" cy="60" r="50").my-skills__circle-svg-above
									span.my-skills__circle-span= item2.title

	section.about-me-map-wrapper

		div.about-me-map

			div.about-me-contacts
				h2.page__title-h2.page__title-h2--black Контакты
				
				ul.about-me-contacts-list
					-

						var contactsItems = [
							{
								title: 'mySkype',
								iconName: 'skype'
							},
							{
								title: '@gmail.com',
								iconName: 'envelope'
							},
							{
								title: '+38000000000',
								iconName: 'phone'
							},
							{
								title: 'Где-то там в далеке',
								iconName: 'map_marker'
							}
						]
					each item in contactsItems
						li.about-me-contacts-list-elem
							svg.about-me-contacts-list__elem-icon
								use(xlink:href='assets/img/sprite.svg#'+item.iconName)
							span.about-me-contacts-list__elem-text= item.title

		div.footer
			div.footer-block
				div.footer-block-elem.footer-element--light
					p.footer-block-elem__caption Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

				div.footer-block-elem.footer-element--bold
					ul.footer-menu
						- var footerMenuItems = ["Мои Работы", "Обо мне","Блог","Авторизация"]
						each item in footerMenuItems
							li.footer-menu__elem
								a.footer-menu__elem-link(href="#")= item


					ul.social.social--footer
						-
							var icons = [
								{title: 'vk', href: '#'},
								{title: 'github', href: '#'},
								{title: 'in', href: '#'},
							]

						each icon in icons
							li.social__item.social__item--footer
								a.social__link.social__link--footer(href=icon.href)
									+svgMix("social__icon social__icon--footer", icon.title)

				div.footer-block-elem.footer-element--lightItalic
					p.footer-block-elem__caption Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					span.footer-block-elem__span - Lorem ipsum

			div.footer-signature
				span.footer-signature__autor © МК
				p.footer-signature__caption.
					создано с любовью в LoftSchool | 2017